<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="name">
            <h1>EDUCATION HISTORY</h1>
        </div> 

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Levels of Education</th>
                <th scope="col">School</th>
                <th scope="col">Year</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"> College</th>
                <td>Holy Angel University</td>
                <td>2019-Present</td>
              </tr>
              <tr>
                <th scope="row">HighSchool</th>
                <td>Holy Angel University</td>
                <td>2013-2019</td>
              </tr>
              <tr>
                <th scope="row">Elementary</th>
                <td>Holy Angel University</td>
                <td>2013-2005</td>
              </tr>
            </tbody>
          </table>
    </body>
</html>