.name{
  padding-left: 250px;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  padding-top: 100px;
  color: #CD5C5C;
}

.table{
  margin-left: 300px;
  margin-right: auto;
  border-collapse: collapse;
  border: 10px solid;
  border-color: #818181;
  width: 70%;
  font-size: 30px;
  font-family:  'Oswald', sans-serif;
  
}
.table th{
  border: 1px solid;
  text-align: left;
  padding: 15px;
  border: 5px solid;
  border-color: #818181;
}
.table td{
  border: 1px solid;
  padding: 15px;
  border: 5px solid;
  border-color: #818181;
}
