<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap" rel="stylesheet">
    </head>
<body>
    <div class="name">
        <h1>LESLIE ANN MASANQUE</h1>
    </div> <!-- class-name-->

    <div class="abt-me">
        <p><i>20 years old ● From Angeles City, Pampanga</i> </p>
    </div> <!-- class-abt-me-->


    <div class="abt-me1">
        <p>I'm currently a student at Holy Angel University, studying Website Development.and I'm 3rd year turning 4th year in the next semester.
            I was born and raised in Philippines, and where i developed a strong interest in the way designing a website. I'm easily inspired for the people who have their different style in web designing upon to catch the attention of the audience who visited their website.
            And as you know not only designing a website is i having an interest i love doing a calligraphy too!</p> 
        
    </div> <!-- class-abt-me1-->
   

     
     

            
</body>
</html>



