.name{
    padding-left: 250px;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    padding-top: 100px;
    color: #CD5C5C;
}
.abt-me1 p{
    padding-left: 250px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: #818181;
    
  }