<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    </head>
<body>
    <div class="name">
        <h1>CONTACT</h1>
    </div> <!-- class-name-->

    <div class="abt-me1">
        <p>Phone Number: 0908235***2</p>
        <p>Facebook: Leslie Ann Masanque</p>
        <p>Email: masanqueleslie5@gmail.com</p>

    </div> <!-- class-abt-me1-->

    
   
    
</body>