
.Skills h1{
  padding-left: 250px;
  font-family: 'Bebas Neue', cursive;
  font-size: 100px;
  color: #CD5C5C;
  line-height: 0px;
  margin-top: 250px;
}
.Skills1 p{
    padding-left: 250px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: #818181;
}
.icons img{
  padding-left: 250px;
}


