<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>

<body>

<div class="Skills">
  <h1>Skills</h1>
</div>

<div class="Skills1">
  <p> PROGRAMMING LANGUAGES AND TOOLS</p>
</div> 

<div class="icons">
  <img src="../assets/icon.JPG" class="angular" alt="..." height="100">
</div>

</body>
</html>
